<header>
    <nav>
      <ul role="list">
        <li><a href="/" {{ if url === "/" }}aria-current="page"{{ /if }}>Cevdet</a></li>
        <li><a href="/blog/" {{ if url === "/blog/" }}aria-current="page"{{ /if }}>Blog</a></li>
      </ul>
    </nav>
  </header>